
@{
    ViewData["Title"] = "Index";
}
@using Sample.NetCore.Web.Models
@model IEnumerable<TodoItemViewModel>

<h2>Todo</h2>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>待办事项</th>
                <th>是否完成</th>
                <th>修改时间</th>
                <th>步骤个数</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @(item.IsComplete ? "是" : "否")
                    </td>
                    <td>
                        @item.ModifyTime
                    </td>
                    <td>
                        @item.StepCount
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
